<div class="container">
  <div class="row mb-3">
    <div class="col-12">
      <h1>Список сотрудников</h1>
    </div>
  </div>
  <app-addform-worker></app-addform-worker>
  <app-table-workers
    [title]="'Программисты'"
    [spec]="getByType(myWorkerType.programmer)"        
  ></app-table-workers>
  <app-table-workers
    [title]="'Дизайнеры'"
    [spec]="getByType(myWorkerType.designer)"        
  ></app-table-workers>
  <app-table-workers
    [title]="'Рекламщики'"
    [spec]="getByType(myWorkerType.copywriter)"        
  ></app-table-workers>
  <app-table-workers
    [title]="'Менеджеры'"
    [spec]="getByType(myWorkerType.manager)"        
  ></app-table-workers>